{
  "presets": ["es2015", "stage-2", "react"],
  "env": {
    "development" : {
      "plugins": [
        ["transform-define", "./config/application/application.dev.config.js"]
      ]
    },
    "jest": {
      "plugins": [
        ["transform-define", "./config/application/application.jest.config.js"]
      ]
    }
  }
}
